*{
        margin:0;
        padding: 0;
        box-sizing: border-box;
 }
 div.main_div{
    box-shadow: 0px 5px 15px -5px;
 }
 h3{
     transform: rotate(-5deg);

 }
 
 .icon{
    font-size: 100%!important;
}

 .header{
    font-family: 'Dancing Script', cursive!important ;
    font-size: 40px;
    padding:20px;
    width: 100%;
    background-color: #FFA323;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    color: white;
    border:none;
 }

 .main_note{
     margin:auto;
     margin-top: 25px;
     box-shadow: 5px 5px 15px -5px;
     width:500px;
     height:180px;
     border-radius: 5px;
 }
 input{
   font-size: 20px!important;
    font-family: 'Questrial', sans-serif!important;
    padding:10px;
    display: block;
    border: none;
    outline: none;
    width:460px;
 }

 textarea{
    
    padding:6px; 
    font-family: 'Questrial', sans-serif!important;
    border: none;
    outline: none;
    resize: none!important;
    width:450px;
 }

 .addbtn{
    margin-left: 89%!important;
    margin-top: -6%!important;
    background-color: white!important;
    border:none!important;
    outline:none!important;
    color: #FFA323!important;
 }
 .addbtn:hover{
     color:white!important;
     background-color: #FFA323!important ;
 }


 .note{
    display: inline-block;
    
    width:300px;
    min-height: 10px;
    margin:30px!important;
    border-style: solid;
    border-width: 1px;
    border-color: #DFF0EA;
    border-radius: 5px;
    
    font-family: 'Questrial', sans-serif;
    word-wrap:break-word;
    
 }
 .note:hover{
   box-shadow: 3px 3px 10px -4px;
 }
 .note:hover .delbtn{
   box-shadow: 3px 3px 10px -4px grey!important;
 }

 .container{
    align-items: center!important;
 }
 

 .delbtn{
  /* margin-left: 81.5%!important;
   margin-top: 20%!important;*/
  
   margin-top: -8%!important;
   margin-left:-8%!important;
   background-color: white!important;
   border:none!important;
   outline:none!important;
   color: #FFA323!important;
   box-shadow: none!important;
   border-style: solid!important;
    border-width: 1px!important;
    border-color: #DFF0EA!important;
 }
 .delbtn:hover{
   color:white!important;
   background-color: #FFA323!important ;
}

h2,.content{
   margin:25px;
}


 @media only screen and (min-width:200px) and (max-width:300px){
   .main_note{
      width:190px;
      margin:10px;
      margin: auto;
      margin-top: 20px;
   }
   input,textarea{
      width:100%;
   }
   .note{
      width:190px;
      margin:45px;
      margin-top: 45px;
      width:190px;
     
   }

 }

 @media only screen and (max-width:400px ) and (min-width:300px){
     .main_note{
        width:290px;
        margin:10px;
        margin: auto;
        margin-top: 20px;
     }
     input,textarea{
        width:100%;
     }

     .note{
      width:290px;
      margin:30px;
      margin-top:35px;
     }

 }
 @media only screen and (max-width:500px ) and (min-width:400px){
   .main_note{
      width:382px;
      margin:10px;
   }
   input,textarea{
      width:100%;
   }
   .note{
      width:382px;
      margin:10px;
      margin-top: 30px;
   }

}
 

